<footer>
  <small>
    To fix a typo in my blog, open a <a href="{{ pkg.repository.url }}">Pull Request</a>, thanks!
    <a href="https://www.netlify.com">
      <img src="https://www.netlify.com/img/global/badges/netlify-color-bg.svg"/>
    </a>
  </small>
</footer>
